body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  header {
      margin-bottom: 40px;
      padding: 30px 20px 40px;
      background: #1d80bb;
      color: #ffffff;
      text-align: center;
  }
  .app__title {
      font-weight: bold;
  }
  .app__section {
      display: inline-block;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
  }
  
  .interns {
      display: flex;
      flex-wrap: wrap;
  }
  .intern {
      margin-bottom: 30px;
      border: 3px solid #1d80bb;
      padding: 20px;
      background-color: #f9f9f9;
      color: #1d80bb;
      text-align: center;
  }
  .intern__score {
      font-size: 18px;
  }
  .intern__image {
      border-radius: 50%;
  }
  .intern__description {
      margin-top: 20px;
  }
  
  /* CARD VIEW */
  @media (min-width: 992px) {
      .intern__card {
          width: 25%;
      }
  }
  
  /* Buttons */
  .btn {
      transition: all .25s ease-out;
      font-weight: bold;
      margin-top: 15px;
  }
  .btn-msgNC {
      background: #1d7fbb;
      color: #ffffff;
  }
  .btn-msgNC:hover, .btn-msgNC:focus {
      background: #055688;
      color: #ffffff;
  }
  
  .loading {
      display: flex;
      align-self: center;
      flex-wrap: wrap;
      padding: 150px 0;
      background-color: #ffffff;
      margin: 0 auto; }
      .loading svg {
        margin: 0 auto;
        width: 100px;
        height: 100px; }
      .loading.simple {
        background-color: transparent;
        padding: 0; }
        .loading.simple svg {
          width: 40px;
          height: 40px; }